@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff?5n0a2r") format("woff"), url("../fonts/icons.woff2?5n0a2r") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-envelop:before {
  content: "\e945";
}

._icon-location:before {
  content: "\e947";
}

._icon-github:before {
  content: "\eab0";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  position: relative;
}

body {
  font-size: 100%;
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #112D32;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -o-linear-gradient(45deg, #112D32, #4F4A41);
  background: linear-gradient(45deg, #112D32, #4F4A41);
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
  background-color: #88BDBC;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.profile__container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.profile__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 0px 30% 0px;
  border-radius: 20px;
}

.profile__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__name {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.contacts__container {
  background-color: #254E58;
}

.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -15px;
  padding-top: 40px;
}

.contacts__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
}

.contacts__item::before {
  font-size: 22px;
  margin: 0px 10px 0px 0px;
  color: #88BDBC;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.contacts__text {
  font-size: 18px;
  color: #88BDBC;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.information__container {
  padding-top: 30px;
}

.information__education {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  position: relative;
}

.information__goals {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.info-block__item:not(:last-child) {
  margin-bottom: 30px;
}

.info-block__title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 25px;
}

.info-block__info {
  line-height: 114.2857142857%;
}

.info-block__info:not(:last-child) {
  margin-bottom: 15px;
}

.info-block__bold {
  font-weight: 600;
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.info-block__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 114.2857142857%;
}

.info-block__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.info-block__list-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #254E58;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  margin: 0px 10px 0px 0px;
}

.info-block__link {
  color: #254E58;
  font-weight: 600;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

@media (min-width: 479.98px) {
  .profile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 650px) {
  .information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
  }

  .information__education {
    padding-right: 30px;
  }

  .information__education::after {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #116466;
  }

  .information__goals {
    padding-left: 30px;
  }
}

@media (min-width: 767.98px) {
  .page {
    padding: 50px 0;
  }
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1150px) {
  .contacts__items {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 830));
  }

  .contacts__item {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 830));
  }

  .contacts__item::before {
    font-size: calc(20px + 2 * ((100vw - 320px) / 830));
  }

  .contacts__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 830));
  }

  .information__container {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .info-block__item:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .info-block__title {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 830));
  }

  .info-block__info:not(:last-child) {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 830));
  }

  .info-block__list-item:not(:last-child) {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .contacts__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
  }

  .container {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .profile__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .information__education {
    padding-bottom: 30px;
  }

  .information__goals {
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) and (max-width: 1150px) {
  .information__education {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .information__goals {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 479.98px) {
  .profile__photo {
    padding: 0px 0px 80% 0px;
    margin: 0px 0px 20px 0px;
  }

  .profile__info {
    margin: 0px 0px 20px 0px;
  }
}

@media (min-width: 650px) and (max-width: 1150px) {
  .information__container {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .information__education {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .information__goals {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 830));
  }
}

@media (any-hover: hover) {
  .contacts__item:hover .contacts__text {
    color: #fff;
  }

  .contacts__item:hover::before {
    color: #fff;
  }

  .info-block__link:hover {
    color: #fff;
  }
}